body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;

}

    
#nav-bar{
   color: black;
   font-size: 25px;
   font-weight: 400;
   height: 60px;
   float: top;
   width: 100%;
   position: fixed;
   text-align: right;
background-color:darkolivegreen;
padding: 20px;
font-style: italic;
}
.welcome-section{
width: 100%;
height: 930px;
background: repeating-linear-gradient rgb(255,255,0,0);
background-color: rgb(9, 85, 49);
}
h1{
    /* text-align:center;
    padding-top:3px;
    font-size: 10px;
    color:white; */
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
    color: white;
    /* background-color: darkolivegreen; */

}
/* header #images{

    width: 100%;
    /* background-color: darkolivegreen; */

/* #image{
    position: fixed;

    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    z-index:1;
    image-orientation:12px;
    padding: 20px;
    margin: 80px;
} */ */
#image1{
    width: 100%;

}
#image{
    width: 100%;
    height: 100%;
    position:relative;
}
.name1{
    text-align:center;
    font-size:30px;
    color:rgb(14, 141, 88);
    font-style: oblique;
}